<div class="form-new">
    <h2>New film registration</h2>
    <% if flash[:alert] %>
      <div class="alert-flash">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= render 'form', movie: @movie %>
</div>
