<div class="form-new">
     <div>
       <% if flash[:notice] %>
            <div class="notice-flash">
              <%= flash[:notice] %>
            </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert-flash">
            <%= flash[:alert] %>
          </div>
        <% end %>
     </div>
    <h2>Edit director</h2>
    <%= render 'form', director: @director %>
</div>