<div class="form-new">
     <% if flash[:alert] %>
      <div class="alert-flash">
        <%= flash[:alert] %>
    </div>
    <h2>Edit genre movie</h2>
    <%= render 'form', movie_genre: @movie_genre %>
</div>