<div class="form-new">
     <div class="edit-genre">
         <% if flash[:alert] %>
          <div class="alert-flash">
            <%= flash[:alert] %>
        <% end %>
          </div>
             <h2>Edit genre movie</h2>
     </div>
    <%= render 'form', movie_genre: @movie_genre %>
</div>