<div class="main-genre">
    <div class="link-create-genre">
      <%= link_to "Create new movie genre",  new_movie_genre_path, class:"create-movie" %>
        <% if flash[:notice] %>
          <div class="notice-flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
    </div>
    <div class="container-circles">
        <% if @movie_genres %>
          <% @movie_genres.map do |genre| %>
            <div class="circles-genres">
                <h2><%= genre.name %></h2>
                <%= link_to "See more", movie_genre_path(genre.id) %>
            </div>
          <% end %>
        <% end %>
    </div>
</div>