/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

 header {
    display: flex;
    gap: 80px;
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 104);
 }

 .header-links {
    display: flex;
    align-items: center;
    font-size: x-large;
    gap: 20px;
 }

 .header-links a{ 
    text-decoration: none;
    color: blue;
 }

 .image-logo {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 70px;
    margin-bottom: 20px;
 }

 .my-logo {
    width: 40px;
    height: 40px;
 }

 main {
    margin-top: 10vh;
 }

 .filter-content {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 18px;
    padding: 20px;
 }

 .filter-movie {
    width: 200px;
    font-size: 15px;
    padding: 9px;
 }

 select {
    font-size: 15px;
    padding: 9px;
 }

.search-btn {
    background-color: green;
    border-radius: 5px;
    padding: 6px;
    font-size: 20px;
    color: white;
 }

 .search-btn:hover {
    filter: brightness(1.6);
 }

 .search-name {
    display: flex;
    align-items: center;
    gap: 3px;
 }

 .category-text {
    font-size: 25px;
    font-weight: 600;
 }