.container-directors {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 20px;
}

.card-directors-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    box-shadow: 2px 4px 8px gray;
}

.card-directors-single h2 {
    text-align: center;
}

.card-directors-single a {
    text-align: center;
}

.card-movie-detail-director {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.card-movie-single-director {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
    box-shadow: 4px 6px 8px gray;
}

.card-body-details-director {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}