.filter-content {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 18px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 4px 6px black;
 }

 .filter-movie {
    width: 200px;
    font-size: 15px;
    padding: 9px;
 }

 select {
    font-size: 15px;
    padding: 9px;
 }

.search-btn {
    background-color: green;
    border-radius: 5px;
    padding: 6px;
    font-size: 20px;
    color: white;
 }

 .search-btn:hover {
    filter: brightness(1.6);
 }

 .search-name {
    display: flex;
    align-items: center;
    gap: 3px;
 }

 .category-text {
    font-size: 25px;
    font-weight: 600;
 }

 .cards-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
 }

 .card-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    height: 450px;
    border: 1px solid green;
    border-radius: 3px;
    box-shadow: 2px 4px 6px green;
 }

.card-movie img {
    height: 60%;
    width: 100%;
}

.card-movie:hover {
    transform: translateY(-10px);
    box-shadow: 4px 8px 10px green;
}

.card-body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 50%;
}

.paginate-btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    gap: 5px;
    margin-top: 20px;
}

.paginate-btns span, .paginate-btns a {
    margin-right: 5px;
    color: rgb(2, 41, 13);
}

.create-movie {
    display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: hsl(123, 75%, 64%);
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
}

.create-movie:hover {
    filter: brightness(1.6);
}

.link-create-container {
    display: flex;
    text-align: end;
    justify-content: center;
    justify-content: end;
    height: max-content;
}

.flash-data {
    width: 33%;
    height: 100%;
    visibility: visible
}

.paginate {
    width: 33%;
}