.card-movie-detail {
    margin-top: 10px;
    width: 99vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card-movie-single {
    border: 1px solid green;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: max-content;
    padding: 20px;
    box-shadow: 4px 8px 12px rgb(45, 38, 146);
}

.card-body-details {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.card-body-details h2 {
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 25px;
}

.link-detail-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border-top: 1px solid gray;
    padding-top: 4px;
}

card-body-details p {
    font-size: 30px;
}

.movie-banner-detail {
    width: 100%;
    height: 300px;
}